@page
@model Hotel.Pages.ReservationChangeModel
@{
    ViewData["Title"] = "Reservations";
}
<div class="text-center">
    <img src="/images/hotel.jpg" class="rounded img-fluid">
    @if(Model.Reservations.Count == 0){
            <h1>No Reservations Made</h1>
        } else {
            var count = 1;
            <h1 class="display-4">Current Reservations: </h1>
        @foreach(var r in Model.Reservations){
            <label>#@count.ToString(). Reservation Id: @r.ReservationId</label>
            <br>
            @if(r.PayThebill == true){
                <div class="alert alert-success" role="alert">
                    This Reservation has been paid
                </div>
            } else {
                <div class="alert alert-danger" role="alert">
                    This Reservation has NOT been paid
                </div>
            }
            <p>
                <strong>Checkin:</strong> @r.CheckIn | <strong>Checkout:</strong> @r.CheckOut
                <br>
                Room #@r.Room.RoomId (
                    @if(r.Room.Smoking == true){
                        <text>Smoking</text>
                    } else {
                        <text>Non-Smoking</text>
                    }
                ) with a @r.Room.Type bed viewing over the @r.Room.View
                <br>
                <strong>Total:</strong> @{
                    TimeSpan diff = r.CheckIn.Subtract(r.CheckOut);
                    var price = r.Room.Price;
                    var total = -diff.Days*price;
                    <text>@total.ToString("C")</text>
                }
                <a class="btn btn-primary col-12" asp-page="/ReservationView" asp-route-id="@r.ReservationId" role="button">Change Reservation</a>
            </p>
            <hr>
            count++;
        }
    }
    
</div>
