@page
@model Hotel.Pages.ReservationModel
@{
    ViewData["Title"] = "Reservation";
}

<div class="text-center">
    <img src="/images/hotel.jpg" class="rounded img-fluid">
    <h1 class="display-4">Book your room today!</h1>
    <form method="post">
        <div class="left">
            <label for="Checkin"><h2>Check-In Date:</h2></label>
            <div class='input-group date' id='checkin'>
                     <input type='text' class="form-control" name="Checkin" value="@ViewData["Checkin"]" />
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
            </div>
        </div>
        <div class="right">
            <label for="Checkout"><h2>Check-Out Date:</h2></label>
            <div class='input-group date' id='checkout'>
                     <input type='text' class="form-control" name="Checkout" value="@ViewData["Checkout"]"/>
                     <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span>
            </div>
        </div>
        <div class="clear"></div>
        <br>
        @foreach (var ro in Model.Rooms){
            //  FIXME:  How do I make sure rooms don't appear if they're booked?
            <div class="left">
                <input type="radio" id="@ro.RoomId" name="Room" value="@ro.RoomId" class="radio-inline">
            </div>
            <label class="left" for="@ro.RoomId" class="text-left">Room# @ro.RoomId | @ro.Type bed with @ro.View View |
            @if (ro.Smoking == true){
                <strong>Smoking</strong>
            } else {
                <strong>No Smoking</strong>
            }
            | at $@ro.Price/Night</label>
            // FIXME:   Add total price here
            <br>
            <div class="clear"></div>
            <br>
        }
        <input type="submit" class="btn btn-primary" value="Make Reservation">
    </form>
</div>
